@keyframes appear {
	0% {
	  opacity: 0;
	  transform: translateY(50px);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
}


.location-form {
	background-color: rgb(183,170,156,20%);
	backdrop-filter: blur(10px);
	/* border: 2px solid rgb(38, 118, 246); */
	border-radius: 0.5rem;
	padding: 1.5rem;
	animation: appear 0.5s ease-out forwards;
}

.location-form form {
	display: flex;
	gap: 1rem;
}

.input-container {
	flex: 1;
}

.input-container input {
	width: 100%;
	padding: 0.5rem 1rem;
	border: none;
	color: var(--primary-color);
	background-color: transparent;
	/* background-color: rgb(183,170,156,30%); */
	border: 1px solid #fbfbee33;
	border-radius: 0.25rem;
	outline: none;
	transition: all 0.2s;
  }

  input::placeholder {
	color: #fbfbeebb;
  }

  .input-container input:focus {
	/* border-color: var(--primary-color); */
	box-shadow: 0 0 0 1px #fbfbeedd;
  }

  .submit-button {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem 1.5rem;
	background-color: rgb(251,251,230,20%);
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
	transition: background-color 0.2s;
  }

  .submit-button:hover {
	background-color: rgb(251,251,230,40%);
  }
