
@keyframes appear {
	0% {
	  opacity: 0;
	  transform: translateY(50px);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
}


.map-container {
	width: 100%;
	height: 400px;
	padding: 0;
	overflow: hidden;
	box-shadow: 0px 0px 800px 19px #2972b2e3;
	-webkit-box-shadow:0px 0px 251px 60px rgba(22,144,155,0.48);
	-moz-box-shadow: 0px 0px 251px 60px rgba(22,144,155,0.48);
	box-shadow: 0px 0px 251px 60px rgba(22,144,155,0.48);
	border: 2px solid rgb(38, 118, 246);
	border-radius: 0.5rem;
	animation: appear 0.5s ease-out forwards;

  }

  .map-container iframe {
	width: 100%;
	height: 100%;
	border: 2px solid rgb(38, 118, 246);
	border-radius: 0.5rem;
  }
