
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}


.app-container {

  min-height: 100vh;
  background: #213a59;
  padding: 1.5rem;
}

.weather-activity-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .weather-activity-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.content-container {
  max-width: 64rem;
  margin: 0 auto;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}

.icon.blue {
  color: #2563EB;
}

.icon.orange {
  color: #F59E0B;
}

.icon.light-blue {
  color: #60A5FA;
}

.icon.gray {
  color: #6B7280;
}

.icon.green {
  color: #059669;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background-color: black;
}


::-webkit-scrollbar-thumb {
  background: #0d395765; 
  border-radius: 9px;
}


::-webkit-scrollbar-thumb:hover {
  background: #0d395794; 
}